.authContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #000;
  width: 100vw;
  height: 100vh;
}
.auth {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 15px;

  width: 20%;
  height: 20%;
}

.email {
}

.password {
}
