.bgContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: blur(15px);

  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.authContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  z-index: 3;
}
.auth {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 25px;
  border: 1px solid #000;
  border-radius: 15px;
  padding: 25px;
  box-shadow: 30px 15px 15px rgba(0, 0, 0, 0.478);

  min-width: 300px;
}

.login {
  padding: 10px;
  border: 1px solid #000;
  border-radius: 15px;
  box-shadow: 30px 15px 15px rgba(0, 0, 0, 0.478);
}

.password {
  padding: 10px;
  border: 1px solid #000;

  border-radius: 15px;
  box-shadow: 30px 15px 15px rgba(0, 0, 0, 0.478);
}
.namePage {
  text-align: center;
  font-size: 28px;
}
.errorRegister {
  display: none;
  color: tomato;
  width: 100%;
  justify-content: center;

  position: absolute;
  top: 18%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loginBtn {
  border-radius: 15px;
  border: 1px solid #000;
  box-shadow: 30px 15px 15px rgba(0, 0, 0, 0.478);
  background: #fff;
}

.createBtn {
  border-radius: 15px;
  border: 1px solid #000;
  box-shadow: 30px 15px 15px rgba(0, 0, 0, 0.478);
  background: #fff;
}

.gmailBtn {
  border-radius: 15px;
  border: 1px solid #000;
  box-shadow: 30px 15px 15px rgba(0, 0, 0, 0.478);
}

.loginInBtn {
  border-radius: 15px;
  border: 1px solid #000;
  box-shadow: 30px 15px 15px rgba(0, 0, 0, 0.478);
  background: #fff;
}
