.NavigationBtn {
  position: relative;
  margin-left: 10px;
  min-width: 100px;
  min-height: 50px;
  color: #000;
  backdrop-filter: blur(5px);
  border: 1px solid rgba(56, 55, 55, 0.619);
  transition: transform 1s;
  border-radius: 10px;
  &:hover {
    background-color: var(--accent-color);
    color: white;

    transition: 0.5s;
  }
}

.containerForLeftMenu {
  height: calc(100% - 350px);
}
.LeftMenu {
  height: calc(100vh - 70px);
}
.avatarImg {
  border: 1px solid black;
  border-radius: 50%;
  width: 45px;
  margin-right: 22px;
}
.toggleMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  position: absolute;
  top: 60px;
  left: -180px;
  z-index: 9999999;

  background: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 10px;
  border-radius: 12px;
  border: 1px solid black;
  height: 200px;
  width: 220px;
  list-style: none;
}
.toggleMenuList {
  cursor: default;
  padding: 0px;
  margin-bottom: 5px;
  width: 100%;
  &:hover {
    background-color: var(--accent-color);
    color: white;
    transition: 1s;
  }
}
.isHidden {
  display: none;
  opacity: 0;
  transition: 0.5s;
}
.nothing {
  transition: 0.5s;
}

.navContainer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  height: 50px;
  border-bottom: 2px solid black;
}

.navLogo {
  position: absolute;
  top: 6px;
  left: 15px;
  padding: 10px;
  cursor: pointer;

  &:hover {
    transform: scale(1.3);
    transition: 0.8s;
  }
}
