* {
  margin: 0;
  padding: 0;
}

.blockCard {
  word-break: break-all;
  max-width: 350px;
  height: 80px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 10px;
}

.blockCard::-webkit-scrollbar {
  background: #87adbf84;
  max-height: 4px;
  max-width: 7px;
  border-radius: 25px;
}

.blockCard::-webkit-scrollbar-thumb {
  /* плашка-бегунок */
  background: #999;
  border-radius: 25px;
}

.name {
  text-align: "center";
  margin-bottom: 10px;
}

.btn {
  display: flex;
  max-width: 350px;
  max-height: 200px;
}

.NavigationBtn {
  margin-left: 50px;
  margin-top: 50px;
  width: 100px;
  height: 50px;
  color: #000;
  border-radius: 15px;
  backdrop-filter: blur(5px);
  border: 1px solid rgba(56, 55, 55, 0.619);
}
