* {
  margin: 0;
  padding: 0;
}

.btnComponent {
  display: flex;
  min-width: 40px;
  min-height: 40px;
  padding: 10px;
  background: aqua;
  justify-content: center;
  /* margin: 55px; */
  cursor: pointer;

  /* clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%); */
}

.container {
  display: flex;
  // gap: 20px;
  list-style: none;
  align-items: center;
  justify-content: space-between;

  min-width: 100%;
  min-height: 100%;
  background-size: contain;

  @media screen and (max-width: "970px") {
    // gap: 100px;
  }
  @media screen and (max-width: "720px") {
    // gap: 90px;
  }
}

li {
  display: flex;
  // gap: 100px;

  flex-direction: column;
  height: 90vh;
  justify-content: space-between;

  @media screen and (max-width: "970px") {
    // gap: 100px;
  }
  @media screen and (max-width: "720px") {
    // gap: 100px;
  }
}

.btnGame {
  position: relative;
  width: 150px;
  height: 150px;
  border: 2px solid black;
  border-radius: 15px;
  z-index: 1;

  transition: transform 1.3s;
  animation: btnGame 1s;
}

@keyframes btnGame {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.btnContainerGame {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: top 0.5s, transform 0.5s;
  transform-origin: center center;
  cursor: pointer;
  border-radius: 13px;

  background-size: contain;
}
.btnContainerGame:hover {
  animation: zoomIn 1.5s;
}
// img:not(:hover) {
//   filter: blur(20px);
// }

.wrapper {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100vw;
  min-height: 100vw; */
  padding-left: 40px;
  padding-right: 40px;
  // background-image: url("./images/top-view-of-the-countryside.jpg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  min-height: 100vh;
}

.btnImage {
  width: 100px;
  height: 100px;
  max-height: 100px;
  max-width: 100px;

  @media screen and (max-width: "970px") {
    width: 80px;
    height: 80px;
    max-height: 80px;
    max-width: 80px;
  }
  @media screen and (max-width: "720px") {
    width: 60px;
    height: 60px;
    max-height: 60px;
    max-width: 60px;
  }
}

.answers {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: calc(100% / 2);
  margin: 0;
}

.stepbystepModale {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: 1px solid #000;
  background: #000000e0;
  width: 100vw;
  height: 100vh;
}

.modalContainer {
  display: flex;
  position: relative;

  width: 40vw;
  height: 40vh;
  background: teal;
  justify-content: center;
  align-items: center;
  z-index: 10;
  color: white;
  border: 1px solid #545454;
}

.closeBtn {
  position: absolute;
  top: 5px;
  left: 93%;
  width: 20px;
  height: 20px;
}
