.containteCard {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #9f9f9f;
}

.card {
  width: 150px;
  height: 300px;
  border: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;

  background: #fff;
}

.startBtnContainer {
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translate(-50%);
}
.startBtn {
  padding: 30px 60px;
}

.containerForLevelButton {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
  gap: 25px;
}

.levelSelectionBtn {
  padding: 40px;
  border-radius: 25px;
  border: 3px double green;
  color: black;
  box-shadow: 10px 15px 20px 0px rgba(0, 0, 0, 0.452);
  -webkit-transition: 1s ease;
  cursor: pointer;
  &:hover {
    transform: translate(0px, -10px);
    transition: 1s;
    border: 3px double rgba(85, 9, 237, 0.863);

    box-shadow: 10px 15px 20px 0px rgba(85, 9, 237, 0.452);
  }
}

.onlyLvlBtn {
  padding: 10px;
  border-radius: 15px;
  border: 3px double green;
  color: black;
  box-shadow: 10px 15px 20px 0px rgba(0, 0, 0, 0.452);
  -webkit-transition: 1s ease;
  cursor: pointer;

  &:hover {
    transform: translate(0px, -10px);
    transition: 1s;
    border: 3px double rgba(85, 9, 237, 0.863);

    box-shadow: 10px 15px 20px 0px rgba(85, 9, 237, 0.452);
  }
}
