.containteCard {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  // transform: translateY(-10%);
}

.card {
  width: 80px;
  height: 80px;
  border: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  margin-top: 40px;
  background: #fff;
  @media screen and (max-width: "349px") {
    width: 40px;
    height: 40px;
  }
  @media screen and (min-width: "350px") {
    width: 50px;
    height: 50px;
  }
  @media screen and (min-width: "800px") {
    width: 80px;
    height: 80px;
  }
}

.containerForLevelButton {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
  gap: 25px;
}

.levelSelectionBtn {
  padding: 40px;
  border-radius: 25px;
  border: 3px double green;
  color: black;
  box-shadow: 10px 15px 20px 0px rgba(0, 0, 0, 0.452);
  -webkit-transition: 1s ease;
  cursor: pointer;
  &:hover {
    transform: translate(0px, -10px);
    transition: 1s;
    border: 3px double rgba(85, 9, 237, 0.863);

    box-shadow: 10px 15px 20px 0px rgba(85, 9, 237, 0.452);
  }
}

.onlyLvlBtn {
  padding: 10px;
  border-radius: 15px;
  border: 3px double green;
  color: black;
  box-shadow: 10px 15px 20px 0px rgba(0, 0, 0, 0.452);
  -webkit-transition: 1s ease;
  cursor: pointer;

  &:hover {
    transform: translate(0px, -10px);
    transition: 1s;
    border: 3px double rgba(85, 9, 237, 0.863);

    box-shadow: 10px 15px 20px 0px rgba(85, 9, 237, 0.452);
  }
}

.currentPage {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  position: absolute;
  left: 50%;
  top: 78%;
  height: 4%;
  transform: translate(-50%);
  @media screen and (max-width: "349px") {
    top: 87%;
    gap: 130px;
  }

  @media screen and (min-width: "350px") {
    top: 87.5%;
    gap: 220px;
  }
  @media screen and (min-width: "768px") {
    top: 87%;
    gap: 220px;
  }
  @media screen and (min-width: "1024px") and (min-height: "600px") {
    top: 86%;
  }
}

.counerPage {
  color: white;
  text-align: center;
  // @media screen and (max-width: "349px") {
  //   position: absolute;
  //   top: -27px;
  //   left: 125px;
  // }
  // @media screen and (min-width: "350px") {
  //   position: absolute;
  //   top: -38px;
  //   left: 170px;
  // }
  // @media screen and (min-width: "351px") {
  //   position: inherit;
  //   top: -30px;
  //   left: calc(100% / 2.2);
  // }
  // @media screen and (min-width: "400px") {
  //   position: inherit;
  //   top: -38px;
  //   left: 188px;
  // }
  // @media screen and (min-width: "500px") {
  //   position: inherit;
  //   top: -38px;
  //   left: 245px;
  //   font-size: 20px;
  // }
  // @media screen and (min-width: "768px") {
  //   position: inherit;
  //   font-size: 30px;
  //   top: -38px;
  //   left: calc(100% / 2.2);
  // }
  // @media screen and (min-width: "1024px") and (min-height: "600px") {
  //   top: -32px;
  //   left: calc(100% / 2.15);
  // }
}

.frontBtn {
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 30%;
  border-top-left-radius: 30%;
  font-size: 20px;
  // box-shadow: inset 0px 0px 4px 0px black;
  @media screen and (max-width: "349px") {
    width: 50px;
    height: 50px;
    font-size: inherit;
  }
  @media screen and (min-width: "350px") {
    width: 50px;
    height: 50px;
  }
  @media screen and (min-width: "351px") {
    width: 70px;
    height: 80px;
  }
  @media screen and (min-width: "768px") {
    width: 100px;
    height: 80px;
  }
}
.backBtn {
  border-top-left-radius: 100%;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 30%;
  border-top-right-radius: 30%;
  font-size: 20px;
  // box-shadow: inset 0px 0px 4px 0px black;
  @media screen and (max-width: "349px") {
    width: 50px;
    height: 50px;
    font-size: inherit;
  }
  @media screen and (min-width: "350px") {
    width: 50px;
    height: 50px;
  }
  @media screen and (min-width: "351px") {
    width: 70px;
    height: 80px;
  }
  @media screen and (min-width: "768px") {
    width: 100px;
    height: 80px;
  }
}

.imagePic {
  @media screen and (max-width: "349px") {
    width: 200px;
    height: 200px;
  }

  @media screen and (min-width: "351px") {
    width: 230px;
    height: 230px;
  }
  @media screen and (min-width: "768px") and (min-height: "800px") {
    width: 400px;
    height: 400px;
  }
}

.startBtnContainer {
  position: absolute;
  left: 50%;
  top: 85%;
  transform: translate(-50%);
  @media screen and (min-width: "350px") {
    top: 85.5%;
  }
}
.startBtn {
  padding: 25px 50px;
  border-radius: 15px;
  // box-shadow: inset 0px 0px 4px 0px black;
  @media screen and (max-width: "349px") {
    padding: 15px 30px;
    font-size: inherit;
  }
  // @media screen and (min-width: "350px") {
  //   font-size: 20px;
  //   padding: 25px 60px;
  // }
  @media screen and (min-width: "400px") {
    font-size: 20px;
    padding: 25px 60px;
  }
  @media screen and (min-width: "800px") {
    font-size: 20px;
  }
  @media screen and (min-width: "1024px") and (min-height: "600px") {
    padding: 20px 90px;
  }
}

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  background: green;
  opacity: 0.8;
}
.gu-hide {
  display: none !important;
}
