@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

.btnComponent {
  display: flex;
  min-width: 40px;
  min-height: 40px;
  padding: 10px;
  background: aqua;
  justify-content: center;
  /* margin: 55px; */
  cursor: pointer;
  /* clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%); */
}

.container {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  min-width: 100%;
  min-height: 100%;
  background-size: contain;
}
li {
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: space-between;
}
.btnGame {
  position: relative;
  width: 150px;
  height: 150px;
  border: 2px solid black;
  border-radius: 15px;
  z-index: 1;
  transition: transform 1.3s;
  animation: btnGame 1s;
}

@keyframes btnGame {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes zoomIn {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.btnContainerGame {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: top 0.5s, transform 0.5s;
  transform-origin: center center;
  cursor: pointer;
  border-radius: 13px;
  background-size: contain;
}

.btnContainerGame:hover {
  animation: zoomIn 1.5s;
}

.wrapper {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100vw;
  min-height: 100vw; */
  padding-left: 40px;
  padding-right: 40px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  min-height: 100vh;
}

.btnImage {
  width: 100px;
  height: 100px;
  max-height: 100px;
  max-width: 100px;
}
@media screen and (max-width: 970px) {
  .btnImage {
    width: 80px;
    height: 80px;
    max-height: 80px;
    max-width: 80px;
  }
}
@media screen and (max-width: 720px) {
  .btnImage {
    width: 60px;
    height: 60px;
    max-height: 60px;
    max-width: 60px;
  }
}

.answers {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 50%;
  margin: 0;
}

.stepbystepModale {
  display: none;
  z-index: 16;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 500ms linear;
  padding: 20px;
  border: 1px solid #000;
  background: rgba(0, 0, 0, 0.8784313725);
  width: 100vw;
  height: 100vh;
}

.modalContainer {
  display: flex;
  position: relative;
  width: 40vw;
  height: 40vh;
  background: teal;
  justify-content: center;
  align-items: center;
  z-index: 10;
  color: white;
  border: 1px solid #545454;
}

.closeBtn {
  position: absolute;
  top: 5px;
  left: 93%;
  width: 20px;
  height: 20px;
}

.containerForBtn {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 20px;
  flex-wrap: wrap;
  max-width: 995px;
  margin-top: 20px;
}
@media screen and (min-width: 1000) {
  .containerForBtn {
    align-content: flex-start;
    margin-top: 0;
  }
}

.loadModal {
  display: flex;
  justify-content: center;
  min-width: 100vh;
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 0.192);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.loader {
  text-align: center;
  position: relative;
  margin: auto;
  width: 350px;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 250%;
  background: linear-gradient(180deg, #222 0, #444 100%);
  box-shadow: inset 0 5px 20px black;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.loader:after {
  content: "";
  display: table;
  clear: both;
}

span {
  box-sizing: border-box;
  overflow: hidden;
  float: left;
  height: 100px;
  line-height: 120px;
  width: 50px;
}

.loader > span {
  border-left: 1px solid #444;
  border-right: 1px solid #222;
}

.covers {
  position: absolute;
  height: 100%;
  width: 100%;
}

.covers span {
  background: linear-gradient(180deg, white 0, #ddd 100%);
  animation: up 2s infinite;
}

@keyframes up {
  0% {
    margin-bottom: 0;
  }
  16% {
    margin-bottom: 100%;
    height: 20px;
  }
  50% {
    margin-bottom: 0;
  }
  100% {
    margin-bottom: 0;
  }
}
.covers span:nth-child(2) {
  animation-delay: 0.142857s;
}

.covers span:nth-child(3) {
  animation-delay: 0.285714s;
}

.covers span:nth-child(4) {
  animation-delay: 0.428571s;
}

.covers span:nth-child(5) {
  animation-delay: 0.571428s;
}

.covers span:nth-child(6) {
  animation-delay: 0.714285s;
}

.covers span:nth-child(7) {
  animation-delay: 0.857142s;
} 
.NavigationBtn {
  position: relative;
  margin-left: 10px;
  min-width: 130px;
  min-height: 150px;
  color: #000;
  border-bottom-left-radius: 50% 10%;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border: 1px solid rgba(56, 55, 55, 0.619);
  transition: transform 1s;
}
.NavigationBtn:hover {
  transform: scale(1.3);
}

* {
  margin: 0;
  padding: 0;
}

.blockCard {
  word-break: break-all;
  max-width: 350px;
  height: 75px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 10px;
}

.blockCard::-webkit-scrollbar {
  background: rgba(135, 173, 191, 0.5176470588);
  max-height: 4px;
  max-width: 7px;
  border-radius: 25px;
}

.blockCard::-webkit-scrollbar-thumb {
  /* плашка-бегунок */
  background: #999;
  border-radius: 25px;
}

.name {
  text-align: "center";
  margin-bottom: 10px;
}

.btn {
  display: flex;
  max-width: 350px;
  max-height: 200px;
}

.BackBtn {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 40px;
  min-width: 60px;
  text-align: center;
  background: transparent;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border: 1px solid rgba(56, 55, 55, 0.619);
  border-radius: 5px;
  z-index: 9999;
}

.fon {
  background-repeat: repeat;
  background-size: cover;
  filter: blur(5px);
}

.bgSvg {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  height: 100%;
}

.bgContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: blur(15px);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.authContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  z-index: 3;
}

.auth {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 25px;
  border: 1px solid #000;
  border-radius: 15px;
  padding: 25px;
  box-shadow: 30px 15px 15px rgba(0, 0, 0, 0.478);
  min-width: 300px;
}

.login {
  padding: 10px;
  border: 1px solid #000;
  border-radius: 15px;
  box-shadow: 30px 15px 15px rgba(0, 0, 0, 0.478);
  letter-spacing: 0.5px;
}
.login:hover::before {
  width: 100%;
  top: 40px;
  left: 0;
  transform: translateY(-10px);
}
.login::before {
  content: "";
  position: absolute;
  width: 0;
  background: #fff;
  left: 50%;
  top: 30px;
  height: 2px;
  bottom: 0;
  transition: all 0.3s;
  opacity: 0.7;
}

.password {
  padding: 10px;
  border: 1px solid #000;
  letter-spacing: 0.5px;
  border-radius: 15px;
  box-shadow: 30px 15px 15px rgba(0, 0, 0, 0.478);
}
.password:hover::before {
  width: 100%;
  top: 40px;
  left: 0;
  transform: translateY(-10px);
}
.password::before {
  content: "";
  position: absolute;
  width: 0;
  background: #fff;
  left: 50%;
  top: 30px;
  height: 2px;
  bottom: 0;
  transition: all 0.3s;
  opacity: 0.7;
}
.password::-ms-reveal {
  border: 1px solid transparent;
  border-radius: 50%;
  box-shadow: 0 0 3px currentColor;
}

.namePage {
  text-align: center;
  font-size: 28px;
  letter-spacing: 1px;
}

.errorRegister {
  display: none;
  color: tomato;
  width: 100%;
  justify-content: center;
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loginBtn {
  border-radius: 15px;
  border: 1px solid #000;
  box-shadow: 30px 15px 15px rgba(0, 0, 0, 0.478);
  background: #fff;
  height: 25px;
  transition: transform 0.3s ease;
}
.loginBtn:hover {
  transform: translateY(-0.15em);
  box-shadow: 1px 1px 25px 10px rgba(146, 148, 248, 0.4);
}
.loginBtn:hover::before {
  width: 100%;
  top: 40px;
  left: 0;
  transform: translateY(-10px);
}
.loginBtn::before {
  content: "";
  position: absolute;
  width: 0;
  background: #fff;
  left: 50%;
  top: 30px;
  height: 2px;
  bottom: 0;
  transition: all 0.3s;
  opacity: 0.7;
}

.createBtn {
  border-radius: 15px;
  border: 1px solid #000;
  box-shadow: 30px 15px 15px rgba(0, 0, 0, 0.478);
  background: #fff;
  height: 25px;
  transition: transform 0.3s ease;
}
.createBtn:hover {
  transform: translateY(-0.15em);
  box-shadow: 1px 1px 25px 10px rgba(146, 148, 248, 0.4);
}
.createBtn:hover::before {
  width: 100%;
  top: 40px;
  left: 0;
  transform: translateY(-10px);
}
.createBtn::before {
  content: "";
  position: absolute;
  width: 0;
  background: #fff;
  left: 50%;
  top: 30px;
  height: 2px;
  bottom: 0;
  transition: all 0.3s;
  opacity: 0.7;
}

.gmailBtn {
  border-radius: 15px;
  border: 1px solid #000;
  box-shadow: 30px 15px 15px rgba(0, 0, 0, 0.478);
  height: 25px;
  transition: transform 0.3s ease;
}
.gmailBtn:hover {
  transform: translateY(-0.15em);
  box-shadow: 1px 1px 25px 10px rgba(146, 148, 248, 0.4);
}
.gmailBtn:hover::before {
  width: 100%;
  top: 40px;
  left: 0;
  transform: translateY(-10px);
}
.gmailBtn::before {
  content: "";
  position: absolute;
  width: 0;
  background: #fff;
  left: 50%;
  top: 30px;
  height: 2px;
  bottom: 0;
  transition: all 0.3s;
  opacity: 0.7;
}

.loginInBtn {
  border-radius: 15px;
  border: 1px solid #000;
  box-shadow: 30px 15px 15px rgba(0, 0, 0, 0.478);
  background: #fff;
  height: 25px;
  transition: transform 0.3s ease;
}
.loginInBtn:hover {
  transform: translateY(-0.15em);
  box-shadow: 1px 1px 25px 10px rgba(146, 148, 248, 0.4);
}
.loginInBtn:hover::before {
  width: 100%;
  top: 40px;
  left: 0;
  transform: translateY(-10px);
}
.loginInBtn::before {
  content: "";
  position: absolute;
  width: 0;
  background: #fff;
  left: 50%;
  top: 30px;
  height: 2px;
  bottom: 0;
  transition: all 0.3s;
  opacity: 0.7;
}

.burgerContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.burgerUl {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  padding: 40px;
}

.burgerUl .burgerLi {
  position: relative;
  list-style: none;
  width: 120px;
  height: 120px;
  margin: 0 30px;
  transform: rotate(-30deg) skew(25deg);
}

.burgerUl .burgerLi span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: normal;
  background: teal;
  transition: 0.5s;
  display: flex !important;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 30px !important;
  cursor: pointer;
}

.burgerUl .burgerLi:hover span:nth-child(5) {
  transform: translate(40px, -40px);
  opacity: 1;
}

.burgerUl .burgerLi:hover span:nth-child(4) {
  transform: translate(30px, -30px);
  opacity: 0.8;
}

.burgerUl .burgerLi:hover span:nth-child(3) {
  transform: translate(20px, -20px);
  opacity: 0.6;
}

.burgerUl .burgerLi:hover span:nth-child(2) {
  transform: translate(10px, -10px);
  opacity: 0.4;
}

.burgerUl .burgerLi:hover span:nth-child(1) {
  transform: translate(0, 0);
  opacity: 0.2;
}

/* .burgerUl .burgerLi:nth-child(1) span {
    background: teal;
}
 */
.settingContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  height: 100vh;
}

.signOut {
  border: 1px solid rgb(174, 0, 255);
  border-radius: 15px;
  padding: 20px;
  background-color: rgba(255, 228, 196, 0.396);
  text-align: center;
  cursor: pointer;
}

.containteCard {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #9f9f9f;
}

.card {
  width: 150px;
  height: 300px;
  border: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  background: #fff;
}

.startBtnContainer {
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translate(-50%);
}

.startBtn {
  padding: 30px 60px;
}

.containerForLevelButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  gap: 25px;
}

.levelSelectionBtn {
  padding: 40px;
  border-radius: 25px;
  border: 3px double green;
  color: black;
  box-shadow: 10px 15px 20px 0px rgba(0, 0, 0, 0.452);
  -webkit-transition: 1s ease;
  cursor: pointer;
}
.levelSelectionBtn:hover {
  transform: translate(0px, -10px);
  transition: 1s;
  border: 3px double rgba(85, 9, 237, 0.863);
  box-shadow: 10px 15px 20px 0px rgba(85, 9, 237, 0.452);
}

.onlyLvlBtn {
  padding: 10px;
  border-radius: 15px;
  border: 3px double green;
  color: black;
  box-shadow: 10px 15px 20px 0px rgba(0, 0, 0, 0.452);
  -webkit-transition: 1s ease;
  cursor: pointer;
}
.onlyLvlBtn:hover {
  transform: translate(0px, -10px);
  transition: 1s;
  border: 3px double rgba(85, 9, 237, 0.863);
  box-shadow: 10px 15px 20px 0px rgba(85, 9, 237, 0.452);
}/*# sourceMappingURL=main.module.css.map */