.bgContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: blur(15px);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.authContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  z-index: 3;
}
.auth {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 25px;
  border: 1px solid #000;
  border-radius: 15px;
  padding: 25px;
  box-shadow: 30px 15px 15px rgba(0, 0, 0, 0.478);

  min-width: 300px;
}

.login {
  padding: 10px;
  border: 1px solid #000;
  border-radius: 15px;
  box-shadow: 30px 15px 15px rgba(0, 0, 0, 0.478);
  letter-spacing: 0.5px;
  &:hover::before {
    width: 100%;
    top: 40px;
    left: 0;
    transform: translateY(-10px);
  }
  &::before {
    content: "";
    position: absolute;
    width: 0;
    background: #fff;
    left: 50%;
    top: 30px;

    height: 2px;
    bottom: 0;
    transition: all 0.3s;
    opacity: 0.7;
  }
}

.password {
  padding: 10px;
  border: 1px solid #000;
  letter-spacing: 0.5px;

  border-radius: 15px;
  box-shadow: 30px 15px 15px rgba(0, 0, 0, 0.478);
  &:hover::before {
    width: 100%;
    top: 40px;
    left: 0;
    transform: translateY(-10px);
  }
  &::before {
    content: "";
    position: absolute;
    width: 0;
    background: #fff;
    left: 50%;
    top: 30px;

    height: 2px;
    bottom: 0;
    transition: all 0.3s;
    opacity: 0.7;
  }
  &::-ms-reveal {
    border: 1px solid transparent;
    border-radius: 50%;
    box-shadow: 0 0 3px currentColor;
  }
}
.namePage {
  text-align: center;
  font-size: 28px;
  letter-spacing: 1px;
}
.errorRegister {
  display: none;
  color: tomato;
  width: 100%;
  justify-content: center;

  position: absolute;
  top: 18%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loginBtn {
  border-radius: 15px;
  border: 1px solid #000;
  box-shadow: 30px 15px 15px rgba(0, 0, 0, 0.478);
  background: #fff;
  height: 25px;
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-0.15em);
    box-shadow: 1px 1px 25px 10px rgba(146, 148, 248, 0.4);
  }
  &:hover::before {
    width: 100%;
    top: 40px;
    left: 0;
    transform: translateY(-10px);
  }
  &::before {
    content: "";
    position: absolute;
    width: 0;
    background: #fff;
    left: 50%;
    top: 30px;
    height: 2px;
    bottom: 0;
    transition: all 0.3s;
    opacity: 0.7;
  }
}

.createBtn {
  border-radius: 15px;
  border: 1px solid #000;
  box-shadow: 30px 15px 15px rgba(0, 0, 0, 0.478);
  background: #fff;
  height: 25px;
  transition: transform 0.3s ease;
  &:hover {
    transform: translateY(-0.15em);
    box-shadow: 1px 1px 25px 10px rgba(146, 148, 248, 0.4);
  }
  &:hover::before {
    width: 100%;
    top: 40px;
    left: 0;
    transform: translateY(-10px);
  }
  &::before {
    content: "";
    position: absolute;
    width: 0;
    background: #fff;
    left: 50%;
    top: 30px;

    height: 2px;
    bottom: 0;
    transition: all 0.3s;
    opacity: 0.7;
  }
}

.gmailBtn {
  border-radius: 15px;
  border: 1px solid #000;
  box-shadow: 30px 15px 15px rgba(0, 0, 0, 0.478);
  height: 25px;
  transition: transform 0.3s ease;
  &:hover {
    transform: translateY(-0.15em);
    box-shadow: 1px 1px 25px 10px rgba(146, 148, 248, 0.4);
  }
  &:hover::before {
    width: 100%;
    top: 40px;
    left: 0;
    transform: translateY(-10px);
  }
  &::before {
    content: "";
    position: absolute;
    width: 0;
    background: #fff;
    left: 50%;
    top: 30px;

    height: 2px;
    bottom: 0;
    transition: all 0.3s;
    opacity: 0.7;
  }
}

.loginInBtn {
  border-radius: 15px;
  border: 1px solid #000;
  box-shadow: 30px 15px 15px rgba(0, 0, 0, 0.478);
  background: #fff;
  height: 25px;
  transition: transform 0.3s ease;
  &:hover {
    transform: translateY(-0.15em);
    box-shadow: 1px 1px 25px 10px rgba(146, 148, 248, 0.4);
  }
  &:hover::before {
    width: 100%;
    top: 40px;
    left: 0;
    transform: translateY(-10px);
  }
  &::before {
    content: "";
    position: absolute;
    width: 0;
    background: #fff;
    left: 50%;
    top: 30px;

    height: 2px;
    bottom: 0;
    transition: all 0.3s;
    opacity: 0.7;
  }
}

.resetPassInput {
  padding: 3px 3px 3px 5px;
  border: 1px solid black;
  border-radius: 15px;
}

.resetPassBtn {
  padding: 3px 3px 3px 5px;
  border: 1px solid black;
  border-radius: 15px;
}

//
